



*{
    margin:0px;
    padding:0px;
    
    
}



.nav-ul li a{
    color:#fff6f6;
    text-decoration:none;
    padding-inline: 20px;
    font-family: "Lato", sans-serif;
    /* font-weight: bold; */
   
  }

  .nav-ul li {
    list-style: none;
    font-size: 25px;


  }
  .nav-ul{
    background-color: #2b2b2b;
    display: flex;
    
    justify-content: center;
    padding:10px ;
    
  }

  .item-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    
   
  }

  .img{
    height: 360px;
    width: 360px;
    border-radius: 5px;
    /* padding:20px; */
  }

  .item{
   margin-top:30px;
    padding: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    
  }

  .para{
    display: flex;
   justify-content: space-between;
   font-size:19px;
  }
 
  label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    font-size: 19px;
  }
  
  .inputbox {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .inputbox:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .register-button ,.login-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .register-button:hover {
    background-color: #0056b3;
  }


  .container{
    font-family: "Roboto Condensed", sans-serif;
    
    background-color: white;
    padding: 60px 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  
    text-align: center;
  }

  .register-form,.login-form {
    display: flex;
    flex-direction: column;
  }
  